.idea
/framework/app/config/parameters.yml
/framework/build/
/framework/phpunit.xml
/framework/var/*
!/framework/var/cache
/framework/var/cache/*
!frameworkvar/cache/.gitkeep
!framework/var/logs
/framework/var/logs/*
!framework/var/logs/.gitkeep
!framework/var/sessions
/framework/var/sessions/*
!framework/var/sessions/.gitkeep
!framework/var/SymfonyRequirements.php
/framework/vendor/
/framework/web/
/public_html/bundles/
/framework/src/Ais/
/framework/tests/AisBundleDoctorBundle/
/framework/tests/AisPatientBundle/
framework/var/cache/
